@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', cursive;
  
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0% 0%;
  background-color: white;
  /*background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../image1.jpg);
  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover; /* Resize the background image to cover the entire container */
  
}



h4 {
  font-size: 1rem;
  color: black;
}

h3 {
  font-size: 1.2rem;
  color: black;
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
