@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', cursive;
}

body {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0% 0%;
  background-color: white;
}

h4 {
  font-size: 1rem;
  color: black;
}

h3 {
  font-size: 1.2rem;
  color: black;
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
