form {
    margin-left: 10rem;
    width: 50%;
    
}
form div {
    position: relative;
    width: 100%;
}
form div input {
    border: none;
    opacity: 1;
    background-color: inherit;
    border: 2px solid black;
    font-size: 1.5rem;
    color: black;
    padding: 1rem 3rem;
    border-radius: 1rem;
    outline: none;
   width: 100%;
}

form div input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-size: 1.4rem;
    opacity: 1; /* Firefox */
  }




form div svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
}

.styling {
    width: 1rem;
}