.line {
    border-bottom:  2px dotted black;
    margin: 0% 1%;
    
}


.list {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.shadow:hover {
    box-shadow: 2px 2px 2px 2px purple;
}
@media screen and (max-width:670px) {
    .list .hide{
        display: none;
    }
    
   
}






