.footer {
    background-color: purple;
    width: 100%;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    line-height: 1.3rem;
    font-size: 1.1rem;
}

.footer .link  {
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.footer a  {
    text-decoration: none;
    color: black;
}

.footer p a {
    font-style: italic;
}

.footer p a:before {
    content: " "; 
}