.wrapperRecipe {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
}

.wrapperRecipe h2 {
    margin-bottom: 2rem;
    font-style: italic;
    text-decoration: none;
}

.information {
    margin-left: 3rem;
    margin-top: 6rem;
}

button {
    padding:1rem 2rem;
    color: #313131;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 2rem;
    font-weight: 600;
    cursor: pointer;
}

button:active {
    background: rgb(174, 35, 174);
    color: white;
}

button:focus {
    background: purple;
    color: white;
}

.wrapperRecipe li {
    font-size: 1.2rem;
    line-height: 2.5rem;
}

.wrapperRecipe ul {
    margin-top: 2rem;
}

@media screen and (max-width:1150px) {
    button {
        padding:1rem 1rem;
        margin-right: 0.5rem;
    }
    .information {
        margin-left: 2rem;
    }
    .title {
        width: 70%;
    }
    .title img {
        width: 25rem;
    }
}

@media screen and (max-width:842px) {
    button {
        padding:1rem 0.5rem;
        font-size: smaller;
        margin-right: 0.5rem;
    }
    .title {
        width: 61%;
    }
    .title img {
        width: 20rem;
    }
    .information {
        margin-left: 1.3rem;
    }
}

@media screen and (max-width:698px) {
    .wrapperRecipe {
        margin-top: 1rem;
    }
    button {
        padding:1rem 0.2rem;
        margin-right: 0.2rem;
    }
    .title {
        width: 100%;
    }
    .title img {
        width: 31rem;
    }
    .information {
        margin-top: 28rem;
        margin-left: -28rem;
    }
}

@media screen and (max-width:530px) {
    .wrapperRecipe {
        margin-top: 0.8rem;
    }
    .title img {
        width: 28rem;
    }
    .information {
        margin-top: 28rem;
        margin-left: -26rem;
    }
}


